In [1]:
#Compare the number of internet users in different countries.
#What is the growth rate of internet users in the countries across the world.
#The values in this data show number of internet users per 100 of the populaiton of that country or region.

In [1]:
import pandas as pd
import numpy as np

In [314]:
#data = pd.read_csv("internet_data_2.csv")
#data.head()

In [315]:
#data.describe()

In [35]:
#print data

In [20]:
#import pandas as pd
#datatest1 = pd.read_csv("internet_data.csv")
#datatest1.head()

In [37]:
#data.info()

In [ ]:
#data includes 249 rows of country names, but only 248 of those country names have country codes.
#find the CountryName with the missing CountryCode and add a countrycode to that row.

In [26]:
data[data.CountryCode.isnull()]

,CountryName,CountryCode,1991,1992,1993,1994,1995,1996,1997,1998,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
117,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Kosovo is the CountryName with missing CountryCode value.
#But, the table is missing the rest of the data for Kosovo as well.
#Since the data for Kosovo is not available at this point, for the purpose of this activity, 
#the row for Kosovo can be excluded from this analysis.
# Next step - remove the row for Kosovo from the table.

In [31]:
data1=data[data.CountryCode.notnull()]
#data1

In [36]:
#data1.describe()

In [77]:
#data1.info()

In [ ]:
#For the years 1991-93, data is available for less than 100 countries.
#For the year 1994-95, data ia available for less than 200 countries.
#For the purpose of this exercise, we will consider data from the years 1996-2014.
#Remove the columns for the years 1991 to 1995

In [ ]:
#We will start with replacing all the null values with 0

In [ ]:
#We also see that none of the countries have data provided for all the 24 years from 1991 to 2014

In [71]:
data2=data1[data1.2011.notnull()]

SyntaxError: invalid syntax (<ipython-input-71-2fbf075d093b>, line 1)

In [72]:
data.head()

,CountryName,CountryCode,1991,1992,1993,1994,1995,1996,1997,1998,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,2.768,NaN,NaN,...,25.400,28.000,30.900,52.00,58.00,62,69.000,74.000,78.9,83.78
1,Andorra,AND,NaN,NaN,NaN,NaN,NaN,1.527,3.050,6.886,...,37.606,48.937,70.870,70.04,78.53,81,81.000,86.434,94.0,95.90
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.224,2.107,1.900,1.84,3.55,4,5.000,5.455,5.9,6.39
3,Angola,AGO,NaN,NaN,NaN,NaN,NaN,0.001,0.006,0.018,...,1.143,1.908,3.200,4.60,6.00,10,14.776,16.937,19.1,21.26
4,Albania,ALB,NaN,NaN,NaN,NaN,0.011,0.032,0.049,0.065,...,6.044,9.610,15.036,23.86,41.20,45,49.000,54.656,57.2,60.10

In [229]:
import pandas as pd
try4 = pd.read_csv("internet_data_4.csv")
#try4

In [230]:
#try4.info()

In [242]:
try41=try4[try4.CountryCode.notnull()]

In [194]:
#try41.info()

In [180]:
#try41=np.array(try41)

In [243]:
try41.rename(columns={'1991':'Y1991'},inplace=True)
try41.rename(columns={'1992':'Y1992'},inplace=True)
try41.rename(columns={'1993':'Y1993'},inplace=True)
try41.rename(columns={'1994':'Y1994'},inplace=True)
try41.rename(columns={'1995':'Y1995'},inplace=True)
try41.rename(columns={'1996':'Y1996'},inplace=True)
try41.rename(columns={'1997':'Y1997'},inplace=True)
try41.rename(columns={'1998':'Y1998'},inplace=True)
try41.rename(columns={'1999':'Y1999'},inplace=True)
try41.rename(columns={'2000':'Y2000'},inplace=True)
try41.rename(columns={'2001':'Y2001'},inplace=True)
try41.rename(columns={'2002':'Y2002'},inplace=True)
try41.rename(columns={'2003':'Y2003'},inplace=True)
try41.rename(columns={'2004':'Y2004'},inplace=True)
try41.rename(columns={'2005':'Y2005'},inplace=True)
try41.rename(columns={'2006':'Y2006'},inplace=True)
try41.rename(columns={'2007':'Y2007'},inplace=True)
try41.rename(columns={'2008':'Y2008'},inplace=True)
try41.rename(columns={'2009':'Y2009'},inplace=True)
try41.rename(columns={'2010':'Y2010'},inplace=True)
try41.rename(columns={'2011':'Y2011'},inplace=True)
try41.rename(columns={'2012':'Y2012'},inplace=True)
try41.rename(columns={'2013':'Y2013'},inplace=True)
try41.rename(columns={'2014':'Y2014'},inplace=True)

In [247]:
try41[0:1]

,CountryName,CountryCode,Y1991,Y1992,Y1993,Y1994,Y1995,Y1996,Y1997,Y1998,...,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,ABCD,Y2012,Y2013,Y2014
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,2.768,NaN,NaN,...,25.4,28,30.9,52,58,62,69,74,78.9,83.78

In [313]:
#try41.rename(columns={'ABCD':'Y2011'},inplace=True)
#try41.info()

In [311]:
table1=try41[['CountryName','CountryCode','Y1996','Y1997','Y1998','Y1999','Y2000','Y2001','Y2002','Y2003','Y2004','Y2005','Y2006','Y2007','Y2008','Y2009','Y2010','Y2011','Y2012','Y2013','Y2014']]
table1

,CountryName,CountryCode,Y1996,Y1997,Y1998,Y1999,Y2000,Y2001,Y2002,Y2003,...,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014
0,Aruba,ABW,2.768,NaN,NaN,4.506,15.443,17.100,18.800,20.800,...,25.400,28.000,30.900,52.000,58.000,62.000,69.000,74.000,78.900,83.780
1,Andorra,AND,1.527,3.050,6.886,7.636,10.539,NaN,11.260,13.546,...,37.606,48.937,70.870,70.040,78.530,81.000,81.000,86.434,94.000,95.900
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,0.005,0.005,0.088,...,1.224,2.107,1.900,1.840,3.550,4.000,5.000,5.455,5.900,6.390
3,Angola,AGO,0.001,0.006,0.018,0.072,0.105,0.136,0.270,0.371,...,1.143,1.908,3.200,4.600,6.000,10.000,14.776,16.937,19.100,21.260
4,Albania,ALB,0.032,0.049,0.065,0.081,0.114,0.326,0.390,0.972,...,6.044,9.610,15.036,23.860,41.200,45.000,49.000,54.656,57.200,60.100
5,Arab World,ARB,0.038,0.131,0.262,0.599,1.140,1.561,2.693,3.646,...,8.393,11.655,14.206,18.594,21.545,24.536,26.534,29.954,32.342,34.517
6,United Arab Emirates,ARE,0.375,3.296,6.908,14.943,23.625,26.272,28.316,29.478,...,40.000,52.000,61.000,63.000,64.000,68.000,78.000,85.000,88.000,90.400
7,Argentina,ARG,0.142,0.280,0.831,3.284,7.039,9.781,10.882,11.914,...,17.721,20.927,25.947,28.113,34.000,45.000,51.000,55.800,59.900,64.700
8,Armenia,ARM,0.095,0.112,0.129,0.971,1.300,1.631,1.960,4.575,...,5.253,5.632,6.021,6.210,15.300,25.000,32.000,37.500,41.900,46.300
9,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,ATG,2.858,3.481,4.072,5.301,6.482,8.899,12.500,17.229,...,27.000,30.000,34.000,38.000,42.000,47.000,52.000,58.000,63.400,64.000
11,Australia,AUS,3.275,16.369,30.813,40.784,46.756,52.689,NaN,NaN,...,63.000,66.000,69.450,71.670,74.250,76.000,79.488,79.000,83.000,84.560
12,Austria,AUT,6.909,9.534,15.421,23.044,33.730,39.185,36.560,42.700,...,58.000,63.600,69.370,72.870,73.450,75.170,78.740,80.030,80.619,81.000
13,Azerbaijan,AZE,0.006,0.025,0.037,0.099,0.148,0.306,5.000,NaN,...,8.030,11.992,14.540,17.080,27.400,46.000,50.000,54.200,58.700,61.000
14,Burundi,BDI,0.001,0.008,0.016,0.039,0.077,0.106,0.118,0.201,...,0.542,0.658,0.700,0.810,0.900,1.000,1.110,1.220,1.300,1.380
15,Belgium,BEL,2.968,4.938,7.887,13.772,29.432,31.288,46.330,49.970,...,55.820,59.720,64.440,66.000,70.000,75.000,81.610,80.720,82.170,85.000
16,Benin,BEN,0.002,0.025,0.048,0.155,0.225,0.363,0.703,0.951,...,1.271,1.538,1.790,1.850,2.240,3.130,4.148,4.500,4.900,5.300
17,Burkina Faso,BFA,0.001,0.019,0.045,0.062,0.077,0.158,0.201,0.373,...,0.470,0.633,0.750,0.920,1.130,2.400,3.000,3.725,9.100,9.400
18,Bangladesh,BGD,NaN,0.001,0.004,0.036,0.071,0.130,0.140,0.164,...,0.242,1.000,1.800,2.500,3.100,3.700,4.500,5.000,6.630,9.600
19,Bulgaria,BGR,0.725,1.220,1.845,2.908,5.371,7.612,9.080,12.040,...,19.970,27.090,33.640,39.670,45.000,46.230,47.980,51.900,53.062,55.490
20,Bahrain,BHR,0.843,1.646,3.218,4.720,6.154,15.039,18.051,21.555,...,21.304,28.244,32.910,51.950,53.000,55.000,77.000,88.000,90.000,91.000
21,"Bahamas, The",BHS,1.747,1.363,2.336,3.765,8.000,11.800,18.000,20.000,...,25.000,26.000,27.000,31.540,33.880,43.000,65.000,71.748,72.000,76.920
22,Bosnia and Herzegovina,BIH,0.015,0.059,0.144,0.194,1.083,1.201,2.648,3.965,...,21.327,25.122,27.920,34.660,37.740,42.750,47.770,52.780,57.790,60.800
23,Belarus,BLR,0.029,0.049,0.074,0.495,1.860,4.301,8.951,NaN,...,NaN,16.200,19.700,23.000,27.430,31.800,39.649,46.910,54.170,59.020
24,Belize,BLZ,0.883,1.289,2.092,4.077,5.964,NaN,5.684,NaN,...,17.000,24.000,24.600,26.300,27.200,28.200,30.700,31.000,33.600,38.700
25,Bermuda,BMU,16.202,24.189,32.104,39.948,42.950,47.510,52.032,56.522,...,65.447,69.900,74.351,82.300,83.250,84.210,88.336,91.299,95.300,96.800
26,Bolivia,BOL,0.196,0.448,0.626,0.982,1.443,2.120,3.117,3.509,...,5.228,6.201,10.499,12.500,16.800,22.400,30.000,35.340,36.940,39.020
27,Brazil,BRA,0.451,0.786,1.478,2.039,2.871,4.528,9.149,13.208,...,21.023,28.178,30.880,33.830,39.220,40.650,45.690,48.560,51.040,57.600
28,Barbados,BRB,0.389,0.783,1.970,2.376,3.974,11.936,27.836,39.690,...,52.500,55.300,58.200,61.400,64.700,65.100,67.000,70.000,73.000,76.670
29,Brunei Darussalam,BRN,3.303,4.831,6.285,7.671,8.996,12.918,15.330,19.595,...,36.466,42.186,44.680,46.000,49.000,53.000,56.000,60.273,64.500,68.770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,Thailand,THA,0.115,0.361,1.091,2.426,3.689,5.556,7.531,9.299,...,15.026,17.161,20.030,18.200,20.100,22.400,23.670,26.460,28.940,34.890
220,Tajikistan,TJK,NaN,NaN,NaN,0.033,0.049,0.051,0.055,0.065,...,0.299,3.772,7.198,8.780,10.070,11.550,13.030,14.510,16.000,17.490
221,Turkmenistan,TKM,NaN,NaN,NaN,0.045,0.133,0.175,0.302,0.425,...,0.997,1.320,1.406,1.750,1.950,3.000,5.000,7.196,9.600,12.200
222,Timor-Leste,TLS,NaN,NaN,NaN,NaN,NaN,NaN,0.000,NaN,...,0.099,0.117,0.141,0.164,0.185,0.210,0.900,0.915,1.100,1.140
223,Tonga,TON,0.164,0.511,0.765,1.018,2.434,2.825,2.907,2.986,...,4.908,5.854,7.180,8.111,10.000,16.000,25.000,33.000,35.000,40.000
224,Trinidad and Tobago,TTO,0.393,1.173,2.725,5.814,7.721,15.385,21.999,25.972,...,28.977,30.004,32.300,34.800,44.300,48.500,55.200,59.516,63.800,65.100
225,Tunisia,TUN,0.028,0.044,0.108,1.602,2.751,4.298,5.253,6.491,...,9.655,12.986,17.100,27.530,34.070,36.800,39.100,41.442,43.800,46.160
226,Turkey,TUR,0.193,0.474,0.699,2.292,3.762,5.189,11.380,12.330,...,15.460,18.240,28.630,34.370,36.400,39.820,43.066,45.130,46.250,51.040
227,Tuvalu,TUV,NaN,NaN,NaN,NaN,5.242,NaN,NaN,NaN,...,NaN,NaN,10.000,15.000,20.000,25.000,30.000,35.000,37.000,NaN
228,"Taiwan, China",TWN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,Tanzania,TZA,0.002,0.008,0.009,0.075,0.117,0.171,0.222,0.677,...,1.100,1.300,1.600,1.900,2.400,2.900,3.200,3.950,4.400,4.860
230,Uganda,UGA,0.005,0.010,0.065,0.106,0.164,0.238,0.384,0.465,...,1.742,2.529,3.672,7.900,9.780,12.500,13.014,14.690,16.200,17.710
231,Ukraine,UKR,0.099,0.199,0.301,0.405,0.716,1.239,1.874,3.148,...,3.750,4.506,6.550,11.000,17.900,23.300,28.708,35.270,41.000,43.400
232,Upper middle income,UMC,0.111,0.240,0.580,1.239,2.456,3.527,5.990,7.730,...,11.085,13.560,18.050,22.990,28.103,32.805,36.946,40.786,44.068,47.721
233,Uruguay,URY,1.847,3.363,6.987,9.973,10.539,11.121,11.419,15.937,...,20.088,29.400,34.000,39.300,41.800,46.400,51.405,54.454,57.690,61.460
234,United States,USA,16.419,21.616,30.093,35.849,43.079,49.081,58.785,61.697,...,67.968,68.931,75.000,74.000,71.000,71.690,69.729,79.300,84.200,87.360
235,Uzbekistan,UZB,0.004,0.011,0.021,0.031,0.484,0.598,1.082,1.913,...,3.344,6.388,7.491,9.080,17.058,20.000,30.200,36.521,38.200,43.550
236,St. Vincent and the Grenadines,VCT,0.483,0.926,1.854,2.782,3.245,5.095,5.550,6.462,...,9.198,12.000,16.000,21.000,31.000,38.500,43.010,47.520,52.000,56.480
237,"Venezuela, RB",VEN,0.248,0.391,1.384,2.840,3.360,4.636,4.910,7.500,...,12.553,15.225,20.830,25.880,32.700,37.370,40.220,49.050,54.900,57.000
238,Virgin Islands (U.S.),VIR,4.647,6.948,9.245,11.075,13.815,18.376,27.494,27.429,...,27.344,27.333,27.339,27.362,27.397,31.220,35.600,40.548,45.300,50.070
239,Vietnam,VNM,0.000,0.004,0.013,0.129,0.254,1.266,1.855,3.780,...,12.740,17.255,20.755,23.920,26.550,30.650,35.070,39.490,43.900,48.310
240,Vanuatu,VUT,0.057,0.140,0.274,0.538,2.108,2.831,3.510,3.903,...,5.082,5.851,6.800,7.269,7.500,8.000,9.200,10.598,11.300,18.800
241,West Bank and Gaza,PSE,NaN,NaN,NaN,NaN,1.111,1.837,3.100,4.131,...,16.005,18.410,21.176,24.358,32.230,37.400,41.080,43.400,46.600,53.670
242,World,WLD,1.334,2.053,3.157,4.654,6.770,8.096,10.586,12.285,...,15.800,17.619,20.552,23.287,25.800,29.196,31.824,35.150,37.991,40.689
243,Samoa,WSM,NaN,0.175,0.230,0.285,0.566,1.690,2.245,2.800,...,3.353,4.469,4.750,5.032,6.000,7.000,11.000,12.922,15.300,21.200
244,"Yemen, Rep.",YEM,0.001,0.015,0.023,0.057,0.083,0.091,0.519,0.605,...,1.049,1.248,5.010,6.890,9.960,12.350,14.905,17.447,20.000,22.550
245,South Africa,ZAF,0.842,1.632,2.906,4.116,5.349,6.347,6.710,7.008,...,7.489,7.607,8.065,8.430,10.000,24.000,33.970,41.000,46.500,49.000
246,"Congo, Dem. Rep.",COD,0.000,0.000,0.000,0.001,0.006,0.011,0.093,0.135,...,0.238,0.296,0.370,0.440,0.560,0.720,1.200,1.680,2.200,3.000
247,Zambia,ZMB,0.009,0.009,0.030,0.147,0.191,0.233,0.478,0.980,...,2.852,4.160,4.870,5.550,6.310,10.000,11.500,13.468,15.400,17.340
248,Zimbabwe,ZWE,0.017,0.033,0.082,0.162,0.401,0.800,3.994,6.395,...,8.016,9.792,10.850,11.400,11.360,11.500,15.700,17.090,18.500,19.890

In [286]:
#try42=np.array(try41)
#try43=try42.transpose()
#try43